.banner-section {
    background-image: url('./images/banner.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.section-title {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 40px;
}
.section-sub-title{
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 32px;
}


.section-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    margin-bottom: 64px;
}

.bannar-title {
    font-size: 72px;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

.banner-sub-title{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #E7E7E7;
}

.practices-section{
    margin-bottom: 120px;
}

.carousel-man{
width: 70px;
height: 70px;
margin-bottom: 24px;
}

.carousel-section-caption {
    position: absolute;
    right: 15%;
    bottom: 16.25rem;
    left: 15%;
    color: #FFFFFF;
    text-align: center;
    
}
.carousal-man-name{
    font-family: 'EB Garamond', serif;
}

.client-section{
    margin-bottom: 120px;
}

.accordion-heading{
    font-family: 'EB Garamond', serif;
    font-size: 24;
    font-weight: 800;
}

.faq-section{
    margin-bottom: 120px;
}

.footer-title{
    font-family: 'EB Garamond', serif;
}

.footer-description{
    font-family: 'Poppins', sans-serif;
}

.primary-color{
    font-family: 'EB Garamond';
    color: #FFFFFF;
}

.secondary-color{
color: #CFCFCF;;
}
